body {
    font-family: Arial, sans-serif;
    background: #F2D2BD;
    margin: 0;
    text-align: center;
}

h2 {
    color: #F2D2BD;
    -webkit-text-stroke: 0.5px black;
}

/* HEADER */
.header {
    background: #9F2B68;
    color: white;
    padding: 15px;
    text-align: center;
}

/* CANVAS */
.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

canvas {
    border: 2px solid black;
    background: white;
}